.layoutContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.outletContainer {
  margin-top: 160px;
  padding: auto;
}

@media (max-width: 768px) {
  .layoutContainer {
    position: absolute;
  }

  .outletContainer {
    margin-top: 80px;
  }
}
