.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    margin-top: 10px;
    color: azure;
  }
  
  @media (max-width: 768px) {
    .total {
      font-size: 11px;
      color: antiquewhite;
    }
    
    .total p {
      display: none;
    }
  }
  