.greeting {
  align-self: flex-start;
}


.authContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.logoutButton {
  background-color: #33a1de;
  color: #ffffff;
  font-size: 8px;
  padding: 8px 16px;
  margin-bottom: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}