.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #615b5b;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.totalButton {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menuButton {
  margin-top: 10px;
  margin-left: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  top: -10px;
  left: -10px;
}

.menuIcon {
  padding: 10px;
  font-size: 30px;
}

.menu {
  position: fixed;
  width: 15vw;
  top: 30px;
  left: 52px;
  background-color: #828282;
  border: 1px solid #322946;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  margin-bottom: 5px;
}

.menuList li a {
  color: #333;
  text-decoration: none;
}

.themeButton {
  margin-top: 10px;
}

.rightContent {
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: flex-end;
}

.transparentButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.transparentButton:focus,
.totalButton:focus {
  outline: none;
}

@media (max-width: 768px) {
  .navbarContainer {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .menuButton {
    margin-top: 10px;
    margin-left: 10px;
    top: 0;
    left: 0;
  }

  .menu {
    position: fixed;
    width: 30vw;
    top: 30px;
    right: calc(100% - 70px);
    background-color: #828282;
    border: 1px solid #322946;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rightContent {
    display: flex;
    margin-top: 0;
    margin-right: 0px;
    align-items: center;
    justify-content: flex-end;
  }

  .totalButton {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
