.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to left, #113c4b, #167816);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

.totalButton {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menuButton {
  margin-top: 10px;
  margin-left: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  top: -10px;
  left: -10px;
}

.menuIcon {
  padding: 10px;
  font-size: 30px;
}

.menu {
  position: fixed;
  width: 21vw;
  top: 30px;
  left: 52px;
  background-color: #828282;
  border: 1px solid #322946;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterMenu {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: #828282;
  border: 1px solid #322946;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  margin-bottom: 5px;
}

.menuList li a {
  color: #333;
  text-decoration: none;
}

.buttonsBelow {
  display: flex;
}

.themeButton {
  margin-top: 10px;
  margin: 15px;
}

.searchButton {
  margin-top: 10px;
  margin-left: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
}

.logoutButton {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #828282;
  color: #333;
}

.logoutButton li {
  margin-bottom: 5px;
}

.logoutButton li a {
  color: #1e1e1e;
  text-decoration: none;
}

.loginButton,
.registerButton {
  background-color: #33a1de;
  color: #ffffff;
  font-size: 11px;
  padding: 8px 16px;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover,
.registerButton:hover {
  background-color: #1c77c3;
}

.rightContent {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  align-items: center;
}

.logoCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 255, 251)
}

.logoCenter p {
  font-size: small;
  margin-top: 10px;
  color: #1ed11e;
}

.cartButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.categoryButton {
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s;
}

.categoryButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .navbarContainer {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .menuButton {
    margin-top: 10px;
    margin-left: 10px;
    top: 0;
    left: 0;
  }

  .menu {
    position: fixed;
    width: 25vw;
    top: 30px;
    right: calc(100% - 70px);
    background-color: #828282;
    border: 1px solid #322946;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .buttonsBelow {
    display: grid;
  }

  .rightContent {
    display: flex;
    margin-top: 0;
    margin-right: 0px;
    align-items: center;
    justify-content: flex-end;
  }

  .loginButton,
  .registerButton {
    font-size: 7px;
    padding: 8px 16px;
    margin-bottom: 8px;
    transition: background-color 0.5s ease;
  }

  .totalButton {
    position: relative;
    align-items: center;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
  }

  .menuIcon {
    font-size: 23px;
  }

  .logoCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 255, 251)
  }

  .logoCenter p {
    font-size: x-small;
    margin-top: 10px;
    color: rgb(0, 234, 255);
  }

  .cartButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .categoryButton {
    background-color: #007bff;
    font-size: 10px;
  }

  .categoryButton:hover {
    background-color: #0056b3;
  }
}
